/* --- Reset básico --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Layout principal en pantalla grande --- */
.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

/* Sidenav izquierda - ANCHO FIJO 60px */
.sidenav {
    width: 60px; 
    flex: 0 0 60px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    justify-content: space-around
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.nav-text {
    display: none;
    /* ocultar texto por defecto en 60px */
}

.icon {
    width: 24px;
    height: 24px;
}

/* Espaciadores laterales - crecen/achican para centrar el content */
.spacer-left,
.spacer-right {
    flex: 1 1 auto;
    background-color: #fff;
}

.spacer-top{
    display: none;
}

/* Parte central - ANCHO FIJO 640px CENTRADO */
.content {
    width: 640px;
    flex: 0 0 640px;
    background-color: #f4f4f4;
    overflow-y: auto;
    padding: 1rem; /* Agregar padding para que no esté pegado */
    height: 100vh; /* Altura completa de la ventana */
}

/* animar cambios de tamaño para que se vea suave */
.sidenav,
.content,
.spacer-left,
.spacer-right {
    transition: all 260ms ease;
}

/* 🔹 Desktop: mayor a 699px - Nav en COLUMNA */
.navcito {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.navcito .navbar {
    flex-direction: column;
}

.navcito .navbar-nav {
    flex-direction: column !important;
}

/* 🔹 Modo teléfono: menor o igual a 699px - Nav en FILA */
@media (max-width: 699px) {
    .app-container {
        flex-direction: column;
    }

    .sidenav {
        order: 2;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 50px;
        flex: 0 0 50px;
        padding: 0.5rem;
    }

    .nav-item {
        flex-direction: row;
    }

    .content {
        order: 1;
        width: 100%;
        flex: 1 1 auto;
        height: calc(100vh - 50px);
        padding: 1rem;
    }

    .spacer-left,
    .spacer-right {
        display: none;
    }

    .spacer-top {
        display: block;
        height: 50px;
        justify-items: center;
        background-color: black;
    }

    /* Nav en fila para móvil */
    .navcito {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .navcito .navbar {
        flex-direction: row;
    }

    .navcito .navbar-nav {
        flex-direction: row !important;
    }
    .nav-logo {
        display: none;
    }
}